{{ 'flickity.css' | asset_url | stylesheet_tag }}
<script src="{{ 'flickity.js' | asset_url  }}" defer></script>
{{ 'meta-collection-list.css' | asset_url | stylesheet_tag }}
{% if collection.metafields.custom.collections != blank %}
  <div class="page-width">
    {% for collection in collections %}
      {% assign meta_collection = collection.metafields.custom.collections %}
      <div class="" data-flickity='{ "cellAlign": "left", "contain": true }'>
        {% for subcollections in collection.metafields.custom.collections.value %}
          <div class="meta_collection_container">
            <div class="meta_collection_wrapper">
              <div class="metafield_subcollections">
                {% render 'responsive-picture', desktopImage: subcollections.image.src, alt: subcollections.title %}
              </div>
              <div class="metafield_collection_title">
                <p class="meta_collection_title">{{ subcollections.title }} -
                  <span class="meta_collection_info">{{ subcollections.metafields.custom.collection_info_text }}</span>
                </p>
                <p class="meta_collection_description">{{ subcollections.description }}</p>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    {% endfor %}
  </div>
{% endif %}

{% schema %}
{
  "name": "Meta collection list",
  "settings": [
    {
      "type": "text",
      "id": "heading_text",
      "label": "Heading"
    },
    {
      "type": "header",
      "content": "Section Padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "label": "Padding top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "label": "Padding bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "Meta collection list"
    }
  ]
}
{% endschema %}